
html{
  box-sizing: border-box;
}
*, *::before, *::after{
  box-sizing: inherit;
  margin: 0px;
  padding: 0px;
}
body{
  margin: 0px auto;
  background-color: #FAFAFA;
  color: #333;
  font-family: Arial, Helvetica, sans-serif;
}
